@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
@import "mars.css";

.nav-bar ul li:not(:nth-child(2)){
    border-bottom: none;   

}
.nav-bar ul li:nth-child(2){
    border-bottom: 2px solid white;   

}
.planets nav ul li:nth-child(4){
    border-bottom: 2px solid white;   
}
.planets nav ul li:not(:nth-child(4)){
    border-bottom: none;   
}